*{
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
}

main{
    display: flex;
    justify-content:center;
}

.logoHeader{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 75%;
}
.logoHeader img{
    width: 80px;
}

.textHeader{
    margin-left: 60px;
    border-top: 2px solid white;
}
.textHeader:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}