/* ---- générale ----- */
*{
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: white;
}

.mainContainer{
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    margin-top: 50px;
}

footer{
    background-color: #F2F2F2;
    display: flex;
    margin-top: 80px;
}

.searchAndFilter{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

/* ----- Navigation et Logo ------ */

.logoHeader{
    margin-top: 30px;
}
.logoHeader img{
    width: 80px;
}

nav{
    padding-top: 5px;
}

.navTxt{
    padding-top: 10px;
    margin-right: 40px;
}
.navTxt:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* ----- Barre de recherche ----- */

.search{
    margin-top: 30px;
    display: flex;
    align-items: center;
    
}

.iconePosition{
    width: 21px;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}
input{
    width: 200px;
    height: 45px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.buttonSearch{
    padding: 11px;
    text-align: center;
    background-color: #0065FC;
    color: white;
    font-size: 20px;
    border-radius: 0px 15px 15px 0px;
    border-color: #0065FC;
}

/* ------ Filtre ------ */

.filters{
    display: flex;
    margin-top: 40px;
}

.FiltreContent{
    display: flex;
}

.FiltreChoix{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: 3px solid #F2F2F2;
    border-radius: 40px;
    margin-left: 20px;
    transition: background-color 300ms;
    height: 60px;
}
.FiltreChoix:hover{
    background-color: #DEEBFF;
}

.imgFiltre{
    width: 30px;
}

.textFiltre{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.infoBar{
    margin-top: 20px;
}

/* ------ Hébergements et populaire ------ */

.hebergementsEtPopulaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergementsEtPopulaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/* ------ Hébergements ------ */

.hebergements{
    width: 65%;
}

.txtHebergement{
    margin-left: 20px;
}
.txtHebergementEnd{
    margin-left: 20px;
    margin-top: 5px;
}

.chooseHebergement{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    margin-top: 40px;
    column-gap: 3%;
}

.hebergementsCard{
    background-color: white;
    border-radius: 20px;
    width: 95%;
    height: 80%;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 200ms;
}
.hebergementsCard:hover{
    transform: scale(1.05,1.05) ;
}

.imageCardHebergement{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.titleCard, .txtCard{
    font-size: 16px;
}


.titleCard, .txtCard, .raitingCard{
    margin-left: 10px;
}

.star{
    width: 15px;
}


/* -------- Populaires -------- */
.populaires{
    width: 32%;
    
}

.populairesTitre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.populairesTitre img{
    width: 20px;
}

.txtCardPopulaire{
    font-size: 16px;
}

.populaireCard{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 200ms;
}
.populaireCard:hover{
    transform: scale(1.02,1.02) ;
}

.card{
    display: flex;
    box-sizing: border-box;
}

.cardContent{
    margin-left: 30px;
}

.imageCardPopulaire{
    width: 33%;
    height: 95%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.raitingCardPopulaire{
    margin-top: 60px;
    margin-bottom: 5px;
}

/* -------- Activités --------*/

.activites{
    margin-top: 50px;
    box-sizing: border-box;
}

.chooseActivites{
    display: flex;
    justify-content: space-around;
}

.activitesTitle{
    margin-bottom: 30px;
    margin-left: 15px;
}

.cardActivites{
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 23%;
    height: 600px;
    border-radius: 25px 25px 25px 25px;
    transition: 300ms;
}
.cardActivites:hover{
    transform: scale(1.02,1.02) ;
}

.cardActivites img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.titleCardActivites{
    margin-left: 20px;
}

/* ------- Footer ------- */

.info{
    margin-right: 400px;
    margin-left: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    .navTxt{
        margin-left: 40px;
        margin-right: 0px;
    }

    .FiltreContent{
        flex-direction: row;
    }

    .hebergementsEtPopulaires{
        flex-direction: column;
    }

    .hebergements{
        width: 100%;
    }

    .chooseHebergement{
        column-gap: 3%;
    }

    .titleCard, .txtCard{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .raitingCard{
        margin-top: 25px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaireContent{
        display: flex;
        gap: 15px;

    }

    .populaireCard{
         width: 33%;
         height: 150px;
         margin-top: 20px;
    }

    .imageCardPopulaire{
        height: 150px;
    }

    .txtCardPopulaire{
        font-size: 14px;
    }

    .raitingCardPopulaire{
        margin-top: 40px;
    }

    .cardActivites{
        height: 300px;
    }

    .cardActivites img{
        height: 75%;
    }

    .titleCardActivites{
        font-size: 16px;
        margin-left: 15px;
    }

    .info{
        margin-right: 150px;
        margin-left: 20px;
    }

}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    body{
        margin: 0px;
    }

    .mainContainer{
        padding: 0 0px;
    }

    header{
        flex-direction: column;
    }

    .logoHeader{
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .logoHeader img{
        
        width: 25%;
    }

    nav{
        margin-top: 30px;
        margin-right: 0px;
    }
    .navTxt {
        font-size: 20px;
        padding-top: 0px;
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    .navTxt:hover{
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .infoBar{
        display: none;
    }

    .filters{
        flex-direction: column;
    }
    .FiltreContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .FiltreChoix{
        margin-left: 0px;
    }

    .hebergementsEtPopulaires section{
        padding: 0px;
    }

    .chooseHebergement{
        display: flex;
        flex-direction: column;
    }
    .populaireContent{
        flex-direction: column;
    }

    .chooseActivites{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer{
        flex-direction: column;
    }
    .info{
        margin-right: 0px;
        margin-left: 10px;
        margin-top: 5px;
    }
}
